<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>WordCampMe</title>
        <!-- compiled css output -->
        <link href="css/ionic.app.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

	<!-- compiled css output -->
	<link href="css/ionic.app.css" rel="stylesheet">

	<!-- ionic/angularjs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>

	<!-- cordova script (this will be a 404 during development) -->
	<script src="cordova.js"></script>

	<!-- your app's js -->
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-app="starter" ng-controller="DashCtrl">
	<div class="bar bar-header bar-dark">
		<h1 class="title">WordCamp SP 2015</h1>
	</div>
	<ion-tabs class="tabs-positive tabs-icon-only">
		<ion-tab title="Bem vindo(a)!" href="#/tab/home" icon="ion-home">
			<div class="bar bar-subheader bar-positive">
				<p class="title">{{title}}</p>
			</div>
			<ion-content class="has-subheader">
				<div class="list">
					<div class="item item-image">
						<img src="img/wcsp_banner.jpg">
					</div>
					<div class="item item-text-wrap">
						<p>Marque as palestras que você quer assistir.</p>
					</div>
				</div>
			</ion-content>
		</ion-tab>

		<ion-tab title="Programação" icon="ion-grid" href="#/tab/schedule" class="schedule">
			<div class="bar bar-subheader bar-positive">
				<p class="title">{{title}}</p>
			</div>
			<ion-content class="has-subheader schedule-content">
				<div class="list card " ng-repeat="post in posts | orderBy:&apos;post_meta[0].value&apos;">
					<div class="item item-button-right item-text-wrap" ng-click="togglePost(post)" ng-class="sessionClass(post)">

						<h2>{{post.title}}</h2>

						<button class="button button-clear button-small" ng-if="isRegularSession(post)">
							<i class="icon" ng-class="isPostShown(post) ? &apos;ion-chevron-up&apos; : &apos;ion-chevron-down&apos;"></i>
						</button>
					</div>

					<div class="item item-accordion item-avatar item-stable" ng-show="isPostShown(post)" ng-if="isRegularSession(post)">
						<img ng-src="{{post.author.avatar}}">
						<h2>{{post.speaker.title}}</h2>
						<p><a href="{{post.author.URL}}">{{post.author.URL}}</a></p>
					</div>

					<div class="item item-accordion item-content" ng-show="isPostShown(post)">
						<p><i class="icon ion-location"></i> {{showTrack(post, &apos;local&apos;)}} <i class="icon ion-pound padding-left"></i> {{showTrack(post, &apos;trilha&apos;)}}</p>
					</div>

					<div class="item item-accordion item-text-wrap item-content" ng-show="isPostShown(post)">
						<p>{{post.content | htmlToPlaintext}}</p>
					</div>

					<div class="item item-checkbox" ng-class="sessionClass(post)">
						<label class="checkbox checkbox-balanced">
							<input type="checkbox" ng-click="scheduleSession(post)">
						</label>
						<p class="row"><i class="icon ion-clock"></i>&nbsp;{{post.post_meta[0][&quot;value&quot;] | formatHour}}<i class="icon ion-calendar padding-left"></i>&nbsp;{{post.post_meta[0][&quot;value&quot;] | formatDate}}
						</p>
					</div>

				</div>
			</ion-content>
		</ion-tab>

	</ion-tabs>
</body>
</html>
